
.search-bar {
  text-align: center;
  margin-top: 30px;
}

.search-bar input {
  width: 75%;
}

.product-list {
  text-align: center;
  border: 1px solid rgb(128, 162, 164);
  margin: 30px 300px 10px 300px;
  padding: 30px;
}

.product-item {
  text-align: left;
}
